{% extends "blog_base.html" %}

{% block content %}

    {% if username %}
    {% endif %}
    <div class="bloglist-header">
        <strong>Welcome, {{username}}!</strong>
        &nbsp;&nbsp; <a href="/user/logout">Logout</a>
        <br><br>
        <a href="/blog/newpost"><button class="post-button">New Post</button></a>
    </div>

    {% for post in posts %}
        {{ post.render() | safe }}

        <form method="post" action="/blog/{{post.key().id()}}/like">
            <input type="submit" name="like" value="+ Like"
                    id="{{post.key().id()}}">
        </form>

        <br>
        <br>

    {% endfor %}
    <br>
    <hr>
    <hr>
{% endblock %}
