* {
    /*outline: 1px solid red;*/
}
a {
    text-decoration: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}
.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #794;
    font-family: Tahoma;
}

.alert {
    color: blue;
    font-family: monospace;
}
.error {
    color: red;
    font-family: monospace;
}

/*.base-header {
    background-color: #ddd;
    color: #888;
    margin: 0px;
    padding: 25px;
    height: 50px;
    vertical-align: middle;
}*/


.bloglist-header {
    float: right;
    width: 300px;
    margin-top: -60px;
    text-align: right;
    margin-right: 10px;
    /*font-family: verdana;*/
}

.label {
    text-align: right;
    /*display: block;*/
    /*font-size: 20px;*/
}

input[type=text], input[type=password] {
    width: 800px;
    font-size: 14px;
    padding: 2px;
    font-family: monospace;
}

.post-textarea {
    width: 800px;
    height: 350px;
    font-size: 14px;
    font-family: monospace;
}

.button-holder {
    text-align: left;
}

input[type=submit], .post-button {
    width: 120px;
    font-size: 12px;
    padding:5px;
}


.base-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
}

.notice {
    display: block;
    text-align: left;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-by {
    font-style: italic;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-label {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    padding: 5px;
    margin-top: 10px;
}

.comment-holder {
    margin-left: 40px;
}

.comment-modify-button {
    float: right;
    margin-top: -50px;
}

.comment-textarea {
    width: 600px;
    height: 120px;
    font-size: 14px;
    font-family: monospace;
}

.comment-content {
    padding: 5px;
    margin-top: 10px;
    width: 600px;
    outline: 1px solid #ccc;
}

.comment-modified {
    font-size: 12px;
    color: #ccc;
}