{% extends "blog_base.html" %}

{% block content %}
<div class="section-title"> # Login # </div>
<form method="post">
  Username : <br>
  <input type="text" name="username" value="{{username}}"><br>
  Password : <br>
  <input type="password" name="password" value="{{password}}"><br>
  <div class="error">{{error_login}}</div>
  <br>
  <div class="button-holder">
    <input type="submit" value="Login">
  </div>
</form>
<br>
<div class="notice">
If you do not have registered, please <strong><a href="/user/signup">click here</a></strong> to signup.
</div>

{% endblock %}