{% extends "blog_base.html" %}

{% block content %}
<div class="section-title"> # Sign Up # </div>
<form method="post">
  Username : <br>
  <input type="text" name="username" value="{{username}}"><br>
  <div class="error">{{username_valid_result}}</div>
  Password : <br>
  <input type="password" name="password" value="{{password}}"><br>
  <div class="error">{{password_valid_result}}</div>
  Verify Password : <br>
  <input type="password" name="verify" value="{{verify}}"><br>
  <div class="error">{{password_match_result}}</div>
  Email (optional) : <br>
  <input type="text" name="email" value="{{email}}"><br>
  <div class="error">{{email_valid_result}}</div>
  <br/>
  <input type="submit" value="Sign Up">
</form>
<br/>
<div class="notice">
If you have registerd, please <strong><a href="/user/login">click here</a></strong> to login.
</div>

{% endblock %}